table
{
    font-family: Calibri;
    font-size: 16pt;
    border: 2px solid black;
    border-collapse: collapse;
}
th
{
    background-color: lightskyblue;
    padding: 1px;
    margin: 1px;
    border: 1px solid black;
}
td
{
    margin: 1px;
    padding: 1px;
    border: 1px solid black;
}