table
{
    background-color: white;
    border: 2px solid black;
    font-size: 30px;
    margin: auto;
}
td
{
    border: 2px solid black;
}
th
{
    border: 2px solid black;
    padding: 5px;
}
body
{

    background-image: url("wallpaper.jpg");
    text-align: center;
    color: royalblue;
    font-family: Calibri;
}
h1
{
    color: royalblue;
    font-family: Calibri;
    margin-bottom: 6%;
}
table.hover
{
    color: green;
}